<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Jogos</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <p class="title">Adicionar Jogos</p>
    {%if erro%}
        <div style="background-color: red; padding: 1em;" class="down">
            <p style="color:white; text_align:center;">{{erro}}</p>
        </div>
    {%endif%}
    <div class="container">
        <div class="form">
            <form action="/adicionar_games" method="POST">
                <div>
                    <label for="name">Nome do jogo:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="genre">Gênero do jogo:</label>
                    <input type="text" id="genre" name="genre">
                </div>
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>
</body>
</html>